/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
/* color: lightgray */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    line-height: 1;
}

div {
    display: flex;
    flex-direction: column
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightgray;
     display: flex;
     background-color: white;
     position: relative;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 14px;
     border-bottom: solid lightgrey 1px;
     justify-content: space-evenly;
     align-items: center;
     /* align-content: center; */
     height: 65px;
     flex-direction: row;
     padding: 0 15% 0 15%

 }

header > .main-nav {
    width: 50%;
    display: flex;
    justify-self: center;
    justify-items: space-around;
    justify-content: space-around
}

footer {
    background-image: url(https://mapmy.uastatic.com/1fb53630c0234d4396417e96ffc2ec85.png);
    height: 100px;
    width: 100%
}

 .main {
    width: 70%;
    position: relative;
    align-self: center
 }

 .auth-form {
     display: flex;
     justify-content: center;
     justify-items: center;
     align-content: center;
     align-items: center
 }

 .login-form-container .signup-form-container {
     display: flex;
     align-self: center;
     justify-items: center;
     justify-content: center;
 }

 .login-form-box .signup-form-box {
     width: 20%;
     align-self: center;
     justify-self: center;
     display: flex;
 }

 .login-form .signup-form {
    width: 20%
 }

.login-signup {
    display: flex;
    justify-content: space-evenly;
    width: 10%
}


 nav > a > img {
     position: relative;
     height: 21px;
     width: 163.8px
 }

 .main-nav > a {
     color: grey
 }

 .main-nav > a:hover {
     color: black;
 }

 a {
     text-decoration: none
 }