/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    line-height: 1;
}

div {
    display: flex;
    flex-direction: column
}

.main > div {
    /* position: absolute */
}

header {
    margin: 0 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightgray;
    display: flex;
    background-color: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-bottom: solid lightgrey 1px;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    /* height: 50%; */
    height: 65px;
    flex-direction: row;
    padding: 0 15% 0 15%

 }

header > .main-nav {
    width: 50%;
    display: flex;
    justify-self: center;
    justify-items: space-around;
    justify-content: space-around
}

footer {
    background-image: url(https://mapmy.uastatic.com/1fb53630c0234d4396417e96ffc2ec85.png);
    height: 100px;
    width: 100%;
    position: relative
}

 .main {
    width: 70%;
    position: relative;
    align-self: center
 }

 .auth-form {
     position: relative;
     margin-top: 7.5%;
 }

 .auth-form-container {
     display: flex;
     align-self: center;
     justify-items: center;
     justify-content: center;
     flex-direction: column;
     width: 20%;
     min-width: 150px;
 }

 .auth-form-box {
     width: 100%;
     align-self: center;
     justify-self: center;
     display: flex;
     flex-direction: column;

 }

 .auth-form-box > ul {
    color: #DC001C;
    font-size: 12px;
    list-style: none;
    padding-left: 0
 }

 .auth-alt {
     align-self: flex-end;
     display: flex;
     justify-content: right;
     color: gray

 }

 .auth-alt:hover {
     color: black
 }

 .login-form .signup-form {
    width: 20%;
    color: lightgray
 }

.login-signup {
    display: flex;
    justify-content: space-evenly;
    width: 11%
}


 nav > a > img {
     position: relative;
     height: 21px;
     width: 163.8px
 }

 .main-nav > a {
     color: grey
 }

 .main-nav > a:hover {
     color: black;
 }

 a {
     text-decoration: none
 }
 
 .login-signup-buttons {
     padding: 0.75em 0.75em;
     /* padding: 5% 5%; */
     border-radius: 5px;
     min-width: 60px
 }

 .login-button {
     color: black;
     background-color: white
 }

 .signup-button {
    color: white;
    background-color: #1ddd7c
 }

 .signup-button:hover {
     background-color: #149a56
 }


 .login-button:hover {
     background-color: #ebebeb
 }

 .auth-form-box {
     height: 100px;
     display: flex;
     justify-content: right
 }

 .greyBackground {
     padding: 0 0 0 0;
     background-color: #F0F0F0;
     background-image: linear-gradient(to bottom, #F0F0F0 0%, #FAFAFA 50%, #F0F0F0 100%);
    background-size: 100%
 }

 .or-span {
     margin: 5% 0 0 0;
     color: gray;
     text-transform: uppercase;
     font-size: 8pt;
     display: inline-flex;
     flex-direction: row;
     align-items: center;
     width: 100%
     /* justify-content: space-between */
 }

 .or-span-bar {
     width: 100%;
     height: 1px;
     background-color: grey;
     margin: 2%
 }

 .submit-button {
     color: white;
     margin-top: 5%;
     margin-bottom: 5%;
     background-color: #1ddd7c;
     height: 40px;
     text-transform: uppercase;
     border: none;
     border-radius: 2px
 }

 .submit-button:hover {
     background-color: #149a56
 }

 label {
     color: gray
 }

 .auth-form-box > div > label > input{
     background-color: white;
     width: 95%;
     border: solid lightgrey 1px;
     margin-top: 2%;
     /* padding: 2.5% 2.5 2.5% 0; */
     padding: 2.5%
 }

 .header-group {
     display: inline-flex;
     justify-items: space-between;
 }

 .header-name {
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     text-transform: capitalize
 }

 .header-button {
     color: grey;
     text-transform: capitalize;
     padding-left: 15%;
     padding-right: 15%;
     margin: 5%;
     background-color: white;
     border: solid lightgray 1px;
 }

 .header-button:hover {
     color: black
 }

 .bkgnd {
     /* position: absolute; */
     z-index: -1;
 }

 .bkgnd > img {
     max-width: 100%;
     height: auto
 }

 .routes-links {
     margin-top: 700px;
     width: 55%;
     align-self: center;
     flex-direction: row;
     position: absolute;
     justify-content: space-between
 }

 .routes-page-link {
    width: 20%;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 15px;
    letter-spacing: 0.1px;
    line-height: 1.38;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    background-image:  linear-gradient(258deg, #17d3ff, #18c0f3 20%, #17aee7 40%, #139bdb 60%, #0c8acf 80%, #0078c3);
 }

 .routes-page-link:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(257deg, #17d3ff, #18c0f3 20%, #17aee7 40%, #139bdb 60%, #0c8acf 80%, #0078c3);
 }

 #map-container {
     margin-top: 1em;
     width: 100%;
     height: 40em;
 }

 .routes-create-form .route-show {
     height: 50em;
 }

 .route-show {
     margin-top: 3em;
 }

 .routes-form{
     margin-top: 2em;
 }

 .all-routes > ul{
     height: 1px;
     list-style: none;
 }

 .route-create-button{
  background: #ff8714   
 }

 .route-create-button:hover{
    background: #e56e06
 }